- @group_id ? (url =  group_member_path(id: @resource, group_id: @group_id)) : (url = @resource)
$('#delete-dialog').html("#{escape_javascript(render(partial: 'layouts/delete', locals: {title: @resource.name, record: url } ))}");
