// Table name singular, for url helpers
- helper_name_s = @resources.table_name.singularize
// Table name plural, for url helpers
- helper_name_p = @resources.table_name

- new_link = link_to_fa_button({url: new_group_path(department_id: params[:department_id]), text: t('commands.new'), html_class: 'btn-secondary', icon: 'fa-plus', data: {toggle: 'modal', target: '#new-update-dialog'}})
= render partial: 'layouts/admin_menu', locals: {title: t(@resources.table_name), index_url: by_department_url(params[:department_id]), new_link: new_link}

%p.text-center.alert.alert-secondary.mt-2.mb-1.h5
  =Catalogs::Department.find(params[:department_id]).name_es

#records
  = render partial: 'records', locals: {hnp: helper_name_p, hns: helper_name_s}
#show-dialog.modal{:role => "dialog", :tabindex => "-1"}
#new-update-dialog.modal{:role => "dialog", :tabindex => "-1"}
#delete-dialog.modal{:role => "dialog", :tabindex => "-1"}

-#%p.text-center= will_paginate @resources
%nav{"aria-label" => "..."}
  #paginate.pagination.justify-content-center.pagination-sm
    = will_paginate @resources, :container => false
%br

= javascript_pack_tag 'paginate', 'data-turbolinks-track': 'reload'

